[submodule "hasktorch"]
	path = hasktorch
	url = git@github.com:hasktorch/hasktorch.git
[submodule "spconv"]
	path = spconv
	url = git@github.com:traveller59/spconv.git
[submodule "PointGroup"]
	path = PointGroup
	url = git@github.com:Jia-Research-Lab/PointGroup.git
